.file-field.big .file-path-wrapper {
  height: 3.2rem; }
  .file-field.big .file-path-wrapper .file-path {
    height: 3rem; }


    .rui-SB2Uw .rui-2SwH7.rui-1JF_2 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
