.file-field.big .file-path-wrapper {
  height: 3.2rem; }
  .file-field.big .file-path-wrapper .file-path {
    height: 3rem; }


    .rui-SB2Uw .rui-2SwH7.rui-1JF_2 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
@media only screen and (max-width: 1023px)
._9mRe1 .TC2zr {
    padding: 10px 10px 0;
}
@media only screen and (max-width: 1023px)
._9mRe1 ._3DM00, ._9mRe1 .TC2zr {
    position: relative;
}
._9mRe1 .TC2zr {
    z-index: 7;
    margin-bottom: 40px;
  }

    ._9mRe1 .TC2zr {
      border: 0;
      height: 100%;
    }
    .rui-SB2Uw .rui-2SwH7 {
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}
div {
    display: block;
}
webkit-tap-highlight-color: transparent;
body {
    direction: ltr;
    text-align: left;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: arial,helvetica,sans-serif;
}





html {    line-height: 1.15;}
